MONGODB_URI=mongodb+srv://lanxnguyen06:Al2oPU3Cn5gu67Ex@cluster0.ed782gk.mongodb.net/drug_database?retryWrites=true&w=majority# Ask Lan for the connection string. Once given, get rid of "your_mongodb_connection_string_here" and paste the actual string it. DO NOT share it publically.
DATA_DIR=./data