    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }
    

    body{
        background-color: darksalmon;
        min-height: 100vh;
        display:flex;
        flex-direction: column;

    }
    .button-container {
        display:flex;          /* for absolute positioning inside container */
        align-items: center;                   /* full page width */
        justify-content: space-between;
        padding: 16px 24px;
        width: 100%
    
    }

    #home-button{
        position: absolute;
        margin-top: 1%;
        left: 20px
        
    }

    #profile-button{
        position: absolute;
        margin-top: 1%;
        right: 20px
    }

    .middle{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .calendar{
        width:380px;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0);
        margin-top: 50%;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .header button{
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        width: 40px;
        height: 40px;
        box-shadow: 0 0 4px rgba(0,0,0,0.2);
    }

    .days{
        display: grid;
        grid-template-columns: repeat(7,1fr);
    }

    .day{
        text-align: center;
        padding: 5px;
        color: #999FA6;
        font-weight: 500;
    }
    
    

    .modal-overlay{
        margin-right: auto;
        margin-top: auto;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .modal-content{
        background-color: white;
        width: 80%;
        max-width: 400px;
        margin: 15% auto;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
    