    body{
        background-color: darksalmon;
    }
            

    #home-button{
        display: block;
        margin: 20 px auto; 
    }

    #profile-button{
        display: inline-block;
        margin-left: 0;
    }
    